<html>
    <head>
        <title>FILES MERGED!</title>
    </head>
    <body>
      SUCCESS!! GO TO:
        https://agtesthypdf.s3.amazonaws.com/

        <%= @f_1 %>
        <%= @f_2 %>
    </body>

</html>
